*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.htaccess
.smushit-status
.wp-tests-version

build/*

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/object-cache.php
wp-content/mysql.sql
wp-content/mu-plugins/*
wp-content/plugins/theme-check/*
wp-content/plugins/akismet/*
wp-content/themes/twentyeleven/*
wp-content/themes/twentytwelve/*

